@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Poppins", sans-serif;
}

body[data-aos-delay='3200'] [data-aos],
[data-aos][data-aos][data-aos-delay='3200'] {
  transition-delay: 3200ms;
}

body[data-aos-delay='3400'] [data-aos],
[data-aos][data-aos][data-aos-delay='3400'] {
  transition-delay: 3400ms;
}